<!-- main app container -->
<!doctype html >
<html   >
    <body >
<h1 class="h1">Add Or Update Domain</h1>
<div class="jumbotron">
  <div >
      <div class="row">
          <div class="col-md-6 offset-md-3">
              
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div style="display: flex;">
                <div class="form-group" >
                      <label style="font-weight: 1000;">URL</label>&nbsp;&nbsp;
                      <input type="text"  (change)="changedomain($event)" style="border-style: solid;border-radius: 4px;width:250px;color: rgb(248, 48, 12);"formControlName="url" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.url.errors }" placeholder="Enter Valid URL" ngModel={{domain}} />
                      <div *ngIf="submitted && f.url.errors " class="invalid-feedback">
                          <div *ngIf="f.url.errors.required">First Name is required</div>
                </div>
                  </div>&nbsp;&nbsp;
                  <div class="form-group">
                      <label style="font-weight: 1000;">SMTP</label>&nbsp;&nbsp;
                      <input type="text" (change)="changesmtp($event)" style="border-style: solid;border-radius: 4px;width:190px;color: rgb(248, 48, 12);padding-right: 10px;" formControlName="smtp" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.smtp.errors }" placeholder="Enter Smtp Address" ngModel={{smtpaddress}}/>
                      <div *ngIf="submitted && f.smtp.errors" class="invalid-feedback">
                          <div *ngIf="f.smtp.errors.required ">Last Name is required</div>
                      </div>
                  </div>&nbsp;&nbsp;
                  <div class="form-group">
                      <label style="font-weight: 1000;">Email</label>&nbsp;&nbsp;
                      <input type="text" (change)="changeemail($event)" style="border-style: solid;border-radius: 4px;width:190px;color: rgb(248, 48, 12);padding-right: 10px;" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Enter Valid Email"ngModel={{email}}/>
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                      </div>
                  </div>&nbsp;&nbsp;&nbsp;
                  <div class="form-group">
                      <label style="font-weight: 1000;">Password</label>&nbsp;&nbsp;
                      <input type="password" (change)="changepass($event)" style="border-style: solid;border-radius: 4px;width:180px;color: rgb(248, 48, 12);" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Enter Password" />
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required && req_of_update==false">Password is required</div>
                          <div *ngIf="f.password.errors.minlength && req_of_update==false">Password must be at least 3 characters</div>
                      </div>
                  </div>&nbsp;&nbsp;
                </div> 
                  <div class="form-group" style="margin-left: 44px;margin-top: 25px;">
                      <button class="btn btn-primary" style="width: 70px;font-weight: 600;" >Add</button>&nbsp;&nbsp;
                      <button class="btn btn-primary"style="width: 80px;font-weight: 600;" (click)="check();" >Update</button>
                  </div>

              </form>
              
          </div>
      </div>
  </div>
</div>

<!-- credits -->


<input id="myInput" type="text" placeholder="Search..."class="form-control" style="width: 30vw;margin-top: 50px;border-width: 3px;" > <br><br>   
<div class="container">
    
    <table class="table table-striped">
      <thead>
          <tr>
            <th class="col">ID</th>
            <th >Domain</th>
            <th>Email</th>
            
            <th>SmtpAddress</th>
          </tr>
      </thead>
      <tbody id="myTable">
        
        <tr *ngFor="let user of users" >
            <td class="col">{{ user.id }}</td>
            <td >{{ user.domain }}</td>
            <td style="padding-right: 20px;">{{ user.email }}</td>
            <td style="padding-right: 20px;" >{{ user.smtpAddress }}</td>
            <td><button (click)="filldata(user.domain,user.email,user.smtpAddress,user.password,user.id)" >Update</button></td>
            <!-- <td><button (click)="delete(user.id,user.domain)" >Delete</button></td> -->
        </tr>
      </tbody>
    </table> 
  
  </div>
  <!-- <input id="txt" type="text" onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px';"> -->

</body>
</html>











  <!-- main app container -->
<!-- <html>
  <head>
     <script>
        
        $(document).ready(function(){
            $("#myInput").on("keyup",function(){
                var value = $(this).val().tolowerCase();
                $("#myTable tr").filter(function(){
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
    
    </script>
  </head> 
   
<div class="jumbotron">
  <h1 style="margin-left: 430px;margin-top: 60px;">Add Or Update Domain</h1>
    <div >
        <div class="row" style="margin-left: 50px;margin-top: 50px;">
            <div class="col-md-6 offset-md-3">

                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <div style="display: flex;">
                  <label>URL</label>&nbsp;&nbsp;
                  
                    <div class="form-group"  style="margin-bottom: 10px;">

                        <input type="text"(change)="changedomain($event)" style="border-block-width: 2px;" placeholder="Enter Valid URL"formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">URL is required</div>
                        </div>
                    </div>&nbsp;&nbsp;
                    <label >SMTP </label>&nbsp;&nbsp;
                    <div class="form-group"  style="margin-bottom: 10px;">

                        <input type="text" (change)="changesmtp($event)"style="border-block-width: 2px;" placeholder="SMTP"formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>&nbsp;&nbsp;
                    <label>Email</label>&nbsp;&nbsp;
                    <div class="form-group" style="margin-bottom: 10px;">

                        <input type="text" (change)="changeemail($event)" style="border-block-width: 2px;"placeholder="Enter Valid Email"formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>&nbsp;&nbsp;
                    <label>Password</label>&nbsp;&nbsp;
                    <div class="form-group"style="margin-bottom: 10px;">

                        <input type="password" (change)="changepass($event)" style="border-block-width: 2px;" placeholder="Pssword"formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                  </div>
                    <div class="form-group">
                        <button class="btn btn-primary" (click)="add()" style="margin-top: 20px;margin-left: 100px;">Add</button>&nbsp;&nbsp;
                        <button class="btn btn-primary" (click)="update()"style="margin-bottom: 100px;">   Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->
